*{
    box-sizing: border-box;
}

.row{
    padding: 2em;
}

.column{
    float: left;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
}

.column.one-half{
    width: 50%;
}

.column.one-third{
    width: 33.33%;
}

.column.one-fourth{
    width: 25%;
}

.column.one-eighth{
    width: 12.5%;
}

.column.two-third{
    width: 66.66%;
}

.column.three-eighth{
    width: 33.33%;
}

.column.two-fourth