body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 239, 109, 0.17);
    font-family: Arial, Ubuntu, sans-serif;
}

.main-header{
    margin: 7px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.31);
    color: black;
    text-align: center;
    text-decoration: underline;
}

.the:hover{
    color: rgb(0, 0, 253);
}

.four:hover{
    color: rgb(0, 255, 0);
}

.different:hover{
    color: rgb(255, 254, 0);
}

.messages:hover{
    color: rgb(255, 0, 1);
}


.message-info{
    border: 1px solid lightgray;
    margin: 7px;
    background-color: rgba(0, 0, 250, 0.31);
    color: rgb(0, 0, 115);
    border-radius: 10px;
    padding: 15px;
}

.message-success{
    border: 1px solid lightgray;
    margin: 7px;
    background-color: rgba(0, 238, 0, 0.31);
    color: rgb(0, 115, 0);
    border-radius: 10px;
    padding: 15px;
}

.message-warning{
    border: 1px solid lightgray;
    margin: 7px;
    background-color: rgba(255, 251, 0, 0.3);
    color: rgb(115, 114, 0);
    border-radius: 10px;
    padding: 15px;
}

.message-error{
    border: 1px solid lightgray;
    margin: 7px;
    background-color: rgba(255, 0, 1, 0.3);
    color: rgb(115, 0, 1);
    border-radius: 10px;
    padding: 15px;
}