nav{
    width: 100%;
    background-color: lightgray;
    border-top: 1px solid black;
    height: 3em;
}

li.nav-item{
    padding-left: 2%;
}


button.nav-link{
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid black;
}

nav .navbar{
    width: 100%;
}

.nav-fill .nav-item{
    flex: 1 1 auto;
}

nav .nav-link{
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    color: grey;
    width: border-box;
}

.nav-pills .nav-link.active{
    background-color: #69696924;
    height: 3em;
    color: grey;
}

.container{

}

.jumbotron{
    width: 100%;
    background-image: url("../imgs/pizza.png");
}

.display-4{
    color: dimgray;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.58);
}

/*
ul{
    background-color: transparent;
}*/
