li{
    list-style: none;
}

select{
    height: 2em;
    width: 98%;
}

button .searchstore{
    display: flex;
    justify-content: center;
}

.choices{
    margin: 2%;
}

.jumbotron{
    width: 100%;
    background-image: url("../imgs/pizza.png");
}

.display-4{
    color: dimgray;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.58);
}

.btn{
    align-items: flex-end;
}